Detecting python files..
Analyzing 48 files using 16 processes..
~2, ~3       C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\docs\conf.py
!2, 3.6      C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\examples\example_pyrepo_mcda_update_1.4.py
2.3, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\examples\main_crispyn.py
2.3, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\examples\main_pyrepo_mcda.py
2.3, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\examples\main_pyrepo_mcda_update.py
2.3, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\examples\main_pyrepo_mcda_update2.py
!2, 3.6      C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\examples\main_pyrepo_mcda_update_1.4.py
2.3, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\examples\main_visualizations.py
2.3, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\examples\visualizations.py
!2, 3.0      C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\setup.py
~2, ~3       C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\__init__.py
2.4, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\additions.py
2.6, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\compromise_rankings.py
2.3, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\correlations.py
2.6, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\distance_metrics.py
~2, ~3       C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\__init__.py
2.4, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\ahp.py
2.4, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\aras.py
2.4, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\cocoso.py
2.6, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\codas.py
2.4, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\copras.py
2.4, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\cradis.py
2.6, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\daria.py
~2, ~3       C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\edas.py
~2, ~3       C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\mabac.py
2.4, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\marcos.py
!2, 3.4      C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\mcda_method.py
2.4, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\multimoora.py
2.6, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\promethee.py
2.6, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\prosa_c.py
2.4, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\pvm.py
2.4, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\saw.py
2.4, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\spotis.py
!2, 3.5      C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\temporal_promethee.py
2.4, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\topsis.py
2.4, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\vikor.py
2.4, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\vikor_smaa.py
!2, 3.6      C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\vmcm.py
2.4, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\mcda_methods\waspas.py
~2, ~3       C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\normalizations.py
~2, ~3       C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\promethee_preference_functions.py
2.6, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\sensitivity_analysis_weights_percentages.py
2.6, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\sensitivity_analysis_weights_values.py
2.6, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\src\pyrepo_mcda\weighting_methods.py
2.1, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\tests\test_correlations.py
2.3, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\tests\test_mcda_methods_1.py
2.1, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\tests\test_mcda_methods_2.py
2.1, 3.0     C:\HUAWEI DYSK D 16 11 2025\HUAWEI\PYREPO_UPDATE_SOFTX\pyrepo-mcda\tests\test_weighting_methods.py

Tips:
- Generic or literal annotations might be in use. If so, try using: --eval-annotations
  But check the caveat section: https://github.com/netromdk/vermin#caveats
- You're using potentially backported modules: typing
  If so, try using the following for better results: --backport typing
- Since '# novm' or '# novermin' weren't used, a speedup can be achieved using: --no-parse-comments
(disable using: --no-tips)

Minimum required versions: 3.6
Incompatible versions:     2.x
